
.picture {
    width: 250px;
  }
  
.flex-container-column {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 100px;
    align-items: center;
}

.text-title {
    font-family: Arial, Helvetica, sans-serif;
    color: crimson;
    font-weight: bolder;
    font-size: larger;
}

.text-subtitle {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
}